package assets

import (
	_ "embed"
	"unsafe"

	"github.com/bjatkin/flappy_boot/internal/hardware/display"
	"github.com/bjatkin/flappy_boot/internal/hardware/memmap"
)

//go:embed {{private .Name}}.tm4
var {{private .Name}}Map []byte

var {{public .Name}}Map = &TileMap{
	size:    {{.BGSize .Width .Height}},
	tiles:   unsafe.Slice(
		(*memmap.VRAMValue)(unsafe.Pointer(&{{private .Name}}Map)),
		{{.TileCount}},	
	),
	tileSet: {{public .TileSetName}},
}
