package assets

import (
    _ "embed"
	"unsafe"

	"github.com/bjatkin/flappy_boot/internal/hardware/memmap"
)

//go:embed {{private .Name}}.ts4
var {{private .Name}}Pixels []byte

// {{public .Name}}TileSet is {{.Description}}
var {{public .Name}}TileSet = &TileSet{
    count: {{.TileCount}},
    pixels: unsafe.Slice(
        (*memmap.VRAMValue)(unsafe.Pointer(&{{private .Name}}Pixels)),
        {{.PixelCount}},
    ),
    palette: {{.PaletteName}},
}